[Unit]
Description=Blockchain Controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/${USER}/bin/private-chain-controller/controller.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
